@import "goblinstyles.css";

.navbar {
    justify-self: center;
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-logo {
    height: 3rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.text-box {
    text-justify: left;
}

.navbar-item:hover {
    color: #507B58;
    cursor: pointer;
}

.card {
    padding: 1rem;
    margin: 1rem;
    max-width: 25rem;
}

.is-secondary {
    background-color: #507B58;
    color: #EDE0A6;
}

hr {
    background-color: #507B58;
}

.title {
    color: #540202;
    margin-top: 5rem;
}

.box {
    max-width: 50rem;
}

.is-active {
    color: #506B58;
}
