<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Goblin Forge USA</title>
    <meta name="author" content="Chris Zavala">
    <meta name="description" content="goblinforgeusa.com is the official website for Goblin Forge USA. Social media pages, about us pages, and much
        more can be found here. If it's minis you seek you will find ours to be peak.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img class="img nav-logo" src="../images/logo.png/goblinforgeavatar2.png">
            <span class="nav-logo-text">Goblin Forge USA</span>
            <div class="navbar-burger">
                <span class="burger-item">Commissions</span>
                <span class="burger-item">Gallery</span>
                <span class="burger-item">Baddle-Boiz</span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item"> Commissions</div>
                <div class="navbar-item">Gallery</div>
                <div class="navbar-item">Baddle-Boiz</div>
                <div class="navbar-item is-active">About</div>
                <div class="navbar-item">Contact</div>
            </div>
        </div>
    </nav>
    <center>
        <div class="box">
            <div class="text">
                <h1 class="title">About Us<h1>
                        <hr>
                        <p class="text-box">
                            We are two dudes offering our skills and printers to help spruce up your table top.
                            Tek priest Jeff is a mini painter who has painted hundreds of models. Goomancer Kristoff
                            is a dude that is just making sure Jeff can sell his wares efficiently (definitely not
                            roped into this by Jeff at all).
                        </p>
            </div>
        </div>
    </center>
</body>

</html>
