<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Goblin Forge USA</title>
    <meta name="author" content="Chris Zavala">
    <meta name="description" content="goblinforgeusa.com is the official website for Goblin Forge USA. Social media pages, about us pages, and much
        more can be found here. If it's minis you seek you will find ours to be peak.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/baddle-boiz.css">
    <script src="../js/common.js" type="module"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img class="img nav-logo" src="../images/logo.png/goblinforgeavatar2.png">
            <span class="nav-logo-text">Goblin Forge USA</span>
            <div class="navbar-burger">
                <span class="burger-item">Commissions</span>
                <span class="burger-item">Gallery</span>
                <span class="burger-item">Baddle-Boiz</span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="commissions.html"> commissions</a>
                <a class="navbar-item" target="_blank" href="https://www.instagram.com/goblinforgeusa/">gallery</a>
                <a class="navbar-item" href="baddle-boiz.html">baddle-boiz</a>
                <a class="navbar-item" href="about.html">about</a>
                <a class="navbar-item" href="contact.html">contact</a>

            </div>
        </div>
    </nav>
    <center>
        <h1 class="title">To Be Announced<h1>
                <a class="button is-primary">home</a>
    </center>
</body>

</html>
