<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Goblin Forge USA</title>
    <meta name="author" content="Chris Zavala">
    <meta name="description" content="goblinforgeusa.com is the official website for Goblin Forge USA. Social media pages, about us pages, and much
        more can be found here. If it's minis you seek you will find ours to be peak.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/commissions.css">
    <script src="../js/common.js" type="module"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img class="img nav-logo" src="../images/logo.png/goblinforgeavatar2.png">
            <span class="nav-logo-text">Goblin Forge USA</span>
            <div class="navbar-burger">
                <span class="burger-item">Commissions</span>
                <span class="burger-item">Gallery</span>
                <span class="burger-item">Baddle-Boiz</span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active" href="commissions.html"> commissions</a>
                <a class="navbar-item" target="_blank" href="https://www.instagram.com/goblinforgeusa/">gallery</a>
                <a class="navbar-item" href="baddle-boiz.html">baddle-boiz</a>
                <a class="navbar-item" href="about.html">about</a>
                <a class="navbar-item" href="contact.html">contact</a>
            </div>
        </div>
    </nav>
    <center>
        <div class="card">
            <h1 class="title">Custom Painted TTRPG Mini</h1>
            <h1 class="title is-3">$50 & Up</h1><br>
            - Printed out of Resin
            <hr>
            - Primed with premium mini primer
            <hr>
            - Hand Painted by our experienced mini painter; Tek Priest Jeff
            <hr>
            - Shipped within Continental U.S.
            <br><br>
            <a href="mailto:inquiries.goblinforgeusa@gmail.com" class="button title is-5">Email us to get started
            </a>
        </div>
    </center>
</body>

</html>
