<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Goblin Forge USA</title>
        <meta name="author" content="Chris Zavala">
        <meta name="description"
        content="goblinforgeusa.com is the official website for Goblin Forge USA. Social media pages, about us pages, and much
        more can be found here. If it's minis you seek you will find ours to be peak.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/commissions.css">
    </head>
    <body>
	<nav class="navbar">
		<div class="navbar-brand">
			<img class="img nav-logo" src="../images/logo.png/goblinforgeavatar2.png">
            <span class="nav-logo-text">Goblin Forge USA</span>
            <div class="navbar-burger">
                <span class="burger-item">Commissions</span>
                <span class="burger-item">Gallery</span>
                <span class="burger-item">Baddle-Boiz</span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item"> Commissions</div>
                <div class="navbar-item">Gallery</div>
                <div class="navbar-item">Baddle-Boiz</div>
                <div class="navbar-item">About</div>
                <div class="navbar-item">Contact</div>
            </div>
        </div>
	</nav>
    <center>
            <div class="box">
            <div class="card">
                <h1 class="title">No Primer</h1>
                - Printed out of Resin <br> <hr>
                    - Shipped within Continental U.S  <br><hr>
                    - Additional shipping costs can be negotiated <br> <hr>
                <h1 class="button title is-5">Starting at $10</h1>
            </div>
            <div class="card">
                <h1 class="title">Primed Model</h1>
                - Primed using premium model primer <br><hr>
                - Printed out of Resin <br> <hr>
                  - Shipped within Continental U.S  <br><hr>
                    - Additional shipping costs can be negotiated <br> <hr>
                <h1 class="button title is-5">Starting at $10</h1>
            </div>
            <div class="card">
                <h1 class="title">Zenithol Primed Model</h1>
                    - Primed using the Zenithol priming technique for easier painting <br><hr>
                    - Printed out of Resin <br> <hr>
                    - Shipped within Continental U.S  <br><hr>
                    - Additional shipping costs can be negotiated <br> <hr>
                <h1 class="button title is-5">Starting at $10</h1>
            </div>   
            <div class="card">
                <h1 class="title">Fully Painted Model</h1>
                    - Complete custom paint job done by our resident model painter; Tek Priest Jeff <br><hr>
                - Printed out of Resin <br> <hr>
                    - Shipped within Continental U.S  <br><hr>
                    - Additional shipping costs can be negotiated <br> <hr>
                <h1 class="button title is-5">Starting at $10</h1>
            </div>
            </div>
        </center>
    </body>
</html>
