<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Goblin Forge USA</title>
        <meta name="author" content="Chris Zavala">
        <meta name="description"
        content="goblinforgeusa.com is the official website for Goblin Forge USA. Social media pages, about us pages, and much
        more can be found here. If it's minis you seek you will find ours to be peak.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/home.css">
    </head>
    <body>
	<nav class="navbar">
		<div class="navbar-brand">
			<img class="img nav-logo" src="../images/logo.png/goblinforgeavatar2.png">
            <span class="nav-logo-text">Goblin Forge USA</span>
            <div class="navbar-burger">
                <span aria-hidden="true">Commisions</span>
                <span aria-hidden="true">Gallery</span>
                <span aria-hidden="true">Baddle-Boiz</span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item"> Commisions </div>
                <div class="navbar-item">Gallery</div>
                <div class="navbar-item">Baddle-Boiz</div>
                <div class="navbar-item">About</div>
                <div class="navbar-item">Contact</div>
            </div>
        </div>
	</nav>
        <img>
        <div class="card">
            This mini was exumed from our resin vats and coated with the finest miniature primer.
            Tek Priest Jeff then hand painted it bringing it to life.
        </div>
    </body>
</html>
