<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Goblin Forge USA</title>
        <meta name="author" content="Chris Zavala">
        <meta name="description"
        content="goblinforgeusa.com is the official website for Goblin Forge USA. Social media pages, about us pages, and much
        more can be found here. If it's minis you seek you will find ours to be peak.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/home.css">
    </head>
    <body>
        
    </body>
</html>